*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: grid;
}

.container{
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
    margin-left: 35px;
    margin-top: 38px;
}

.video{
    grid-area: 1 / 1 / span 6 / span 1;
    width: 543px;
    height: 217px;
    background-color: #C4C4C4;
    margin-bottom: 12px;
}
.titulo-video{
    grid-area: 7 / 1 /span 1 / span 1;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 7px;
    width: 288px;
    height: 21px;
}
.visualizacoes{
    grid-area: 8 / 1 /span 1 / span 1;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 9px;
}
.descricao-video{
    grid-area: 9 / 1 /span 1 / span 1;
    width: 538px;
    height: 76px;
    font-weight: 300;
    font-size: 16px;
}
.lateral{
    grid-template-columns: repeat(1, 120px);
    grid-template-rows: repeat(5, 80px);
    display: grid;
    margin-left: 17px;
    margin-top: 38px;
    grid-area: 1 / 2 / span 1 / span 3;
}
.propaganda{
    grid-area: 1 / 1 / span 1 / span 2;
    display: flex;
    background-color: #C4C4C4;
    width: 270px;
    height: 56px;
    margin-bottom: 20px;
}
.propaganda p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-pequeno{
    grid-area: 2 / 1 / span 4 / span 1; 
    background-color: #C4C4C4;
    width: 101px;
    height: 71px;
    padding-bottom: 16px;
}
.video-pequeno2{
    grid-area: 3 / 1 / span 4 / span 1; 
    background-color: #C4C4C4;
    width: 101px;
    height: 71px;
    padding-bottom: 16px;
}
.video-pequeno3{
    grid-area: 4 / 1 / span 4 / span 1; 
    background-color: #C4C4C4;
    width: 101px;
    height: 71px;
    padding-bottom: 16px;
}
.titulo-video-pequeno{
    grid-area: 2 / 2 / span 1 / span 1; 
    font-weight: 700;
    font-size: 14px;
}
.descricao-artista,
.descricao-visualizacoes,
.descricao-ultima-visita{
    font-weight: 300;
    font-size: 11px;
    
}