.verde-claro{
    background-color: aquamarine;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1 / span 2; /* começa na coluna 1 e o span diz quantas colunas serão no total */
    grid-row: 1 / 3; /* começa na linha um e vai até a 2 */
}
.azul{
    background-color: cornflowerblue;
    grid-area: 1 / 3 / span 1 / span 3;
    /* ordem do grid-area: 
    grid-row-start
    grid-column-start
    grid-row-end
    grid-column-end */
}
.rosa{
    background-color: hotpink;
    grid-area: 3 / 1 / span 1 / span 2;
}
.laranja-escuro{
    background-color: orangered;
    grid-area: 2 / 3 / span 2 / span 2;
}
.verde-forte{
    background-color: green;
}
.marron{
    background-color: burlywood;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 15px;
}