.flex{
    margin-top: 128px;
    display: flex;
    flex-direction: row;
    width: 335px;
    max-width: 100%;
}
.flex .img{
    max-width: 100%;
}

.coluna, 
.coluna2, 
.coluna3, 
.coluna4{
    margin: 20px;
    min-width: 335px;
    height: 431px;
} 

.coluna{
    background-image: url(./imagens/boat.png);
}
.coluna2{
    background-image: url(./imagens/rome.png);
}
.coluna3{
    background-image: url(./imagens/sand-and-sea.png);
}
.coluna4{
    background-image: url(./imagens/starry-night.png);
}
@media (max-width:768px) {
    .container{
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }           
}