h1{
    color: green;
}

.paragrafo{
    color: blue;
}

#menu{
    margin-left: 100px;
}

.titulo{
    background-color: lightblue;
}
.laranja{
    font-size: 24px;
}
.titulo.laranja{
    color: orange;
}
.titulo.vermelho{
    color: red;
}